################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.App.WspAdministration/obj/Debug/net6.0
/WSP.ABSTRACTION.DATAACCESS/obj/Debug/net6.0
/WSP.ABSTRACTION.ENTITIES/obj
/WSP.ABSTRACTION.LOGGER/obj
/WSP.ABSTRACTION.SECRYPT/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/WSP.ABSTRACTION.SECRYPT/obj
/WSP.APPLICATION.BUSSINESS/obj
/WSP.APPLICATION.CONNECTION.SERVICES/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/WSP.APPLICATION.CONNECTION.SERVICES/obj
/.vs/WSP_API/FileContentIndex
/Api.App.WspAdministration/bin/Debug/net6.0
/.vs/WSP_API/v17
/Api.App.WspAdministration/obj
/WSP.ABSTRACTION.DATAACCESS
/WSP.ABSTRACTION.ENTITIES/bin/Debug/net6.0
/WSP.ABSTRACTION.LOGGER/bin/Debug/net6.0
/WSP.ABSTRACTION.SECRYPT/bin/Debug/net6.0
/WSP.APPLICATION.BUSSINESS/bin/Debug/net6.0
/WSP.APPLICATION.CONNECTION.SERVICES/bin/Debug/net6.0
/Api.App.WspAdministration/bin/Release/net6.0
/PUBLICADO
/WSP.ABSTRACTION.ENTITIES/bin/Release/net6.0
/WSP.ABSTRACTION.LOGGER/bin/Release/net6.0
/WSP.ABSTRACTION.SECRYPT/bin/Release/net6.0
/WSP.APPLICATION.BUSSINESS/bin/Release/net6.0
/WSP.APPLICATION.CONNECTION.SERVICES/bin/Release/net6.0
/.vs/WSP_API
